.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: 20px 0;
    }
    
    .carousel-image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .carousel-image {
        max-width: 20%;
        height: 20%;
        border-radius: 8px;
    }
    
    .carousel-caption {
        margin-top: 10px;
    }
    
    .carousel-btn {
        background: rgba(41, 38, 75, 0.377);
        color: #ffffffd5;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 1.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .carousel-btn:first-of-type {
        left: 10px;
    }
    
    .carousel-btn:last-of-type {
        right: 10px;
    }
    