body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  
  background-color: #ececd5;
}

.sample {
  margin: 10px auto; 
  background-color: #ece8ff;
  padding: 2px;
  border: 2px solid #a48fe7;
  width: 90%;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 3rem;
}

.read-the-docs {
  color: #2c2525;
  text-align: center;
  font-size: 1.5rem;
  margin-left: 1.5px
}

