body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  
  background-color: #ececd5;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

.read-the-docs {
  color: #2c2525;
  text-align: center;
}
